<% include partials/head %>


<h2 class="page-head">My Points Balance:</h2>


<div class="circle">
  <%= user[0].pointsBalance %>
</div>


<h2 class="page-head">Choose A Reward:</h2>
<% vendors.forEach(function(vendor) { %>
  <div class="reward-item">
      <div class="points-needed">
        <p><%= vendor.pointsNeeded %></p>
        <p id="points-text">POINTS</p>
      </div>
      <div class="vendor-img">
        <img src="<%= vendor.imgURL %>" alt="<%= vendor.name %>" class="img-responsive vendor-logo">
      </div>
      <div class="vendor-reward">
        <p><%= vendor.reward %></p>
      </div>
  </div>
<%	}); %>





<% include partials/footer %>
