<% include partials/head %>
<% include partials/nav %>

<% user.forEach(function(user) { %>
<h1>Hi <%= user.first %></h1>
<h1>Hi <%= user.email %></h1>
<h3>You have <%= user.pointsBalance %> points!</h3>
<%	}); %>

<% vendors.forEach(function(vendor) { %>
<ul>
	<li>
		<strong><%= vendor.name %></strong> - <%= vendor.reward %> - <%= vendor.pointsNeeded %>
	</li>
</ul>
<%	}); %>





<% include partials/footer %>
